<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span>
            <i class="bi bi-github text-white"></i>
            <a href="https://github.com/aradum397" class="text-white text-decoration-none">aradum397</a>
        </span>
    </div>
</footer>